<div class="main-login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login" novalidate>
        <img class="mb-4" src="" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>

        <div *ngIf="errorMessage" class="alert alert-danger mb-3">{{errorMessage}}</div>

        <div class="position-relative mb-3">
            <div class="input-group" [ngClass]="{ 'mb-5': submitted && f.userName.errors }">
                <span class="input-group-text" id="icon-person">
                    <i-bs name="person-fill"></i-bs>
                </span>
                <input type="text" class="form-control" id="userName" placeholder="Username" aria-label="Username"
                    aria-describedby="icon-person" formControlName="userName" [ngClass]="{
                        'is-invalid': submitted && f.userName.errors,
                        'is-valid': submitted && f.userName.valid
                    }">
    
                <div *ngIf="submitted && f.userName.errors" class="invalid-tooltip">
                    <div *ngIf="f.userName.errors.required">User name is required</div>
                </div>
            </div>
        </div>

        <div class="position-relative mb-3">
            <div class="input-group" [ngClass]="{ 'mb-5': submitted && f.password.errors }">
                <span class="input-group-text" id="icon-password">
                    <i-bs name="lock-fill"></i-bs>
                </span>
                <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Password"
                    aria-describedby="icon-password" formControlName="password" [ngClass]="{
                        'is-invalid': submitted && f.password.errors,
                        'is-valid': submitted && f.password.valid
                    }">
                <div *ngIf="submitted && f.password.errors" class="invalid-tooltip">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
        </div>

        <p>If you don't have an account <a routerLink="/register">register</a></p>

        <button class="btn btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">All rights reserved &copy; {{currentDate | date:'yyyy'}}</p>
    </form>
</div>